# = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
# The file is written by libnoname
# Licensed under Apache-2.0
# File: .gitignore (noname-server-go/.gitignore)
# Content: Noname Server(Go Version) project gitignore.
# Copyright (c) 2025 Noname Developers All rights reserved
# = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

# Build artifacts
*.o
*.ll
*.s
*.obj
*.dwo
*.dwarf
*.pdb
*.exe
/.build/
/samples/.build/
/docs/
/man/*.gz
/bin/

# Dependency directories
/lib/

# Shards directory
/.shards/

# env file
.env
